body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image: url('img/1.jpg');
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .lineUpButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid blue;
  border-radius:10px;
  position:absolute;
  background-size: 100% 100%;
}
.winky{
  border: 30px solid orange;
  height: 100px;
  width: 100px;
  background-image: url('img/1.png');
}
.winky:hover{
  height: 80px;
  width: 80px;
  border: 30px solid purple;
  background-color: orange;
}
.hover{
  border: 30px solid gray;
  background-color: orange;
}
.blinky{
  height: 100px;
  width: 100px;
  border: 10px solid purple;
  background-image: url('img/2.png');
}
.slinky{
  height: 100px;
  width: 100px;
  border: 20px solid red;
  background-image: url('img/3.png');
}
